@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.product-scroll::-webkit-scrollbar {
  scrollbar-width: 1px;
  background-color: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
.product-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 1px; /* Firefox */
}

/* .hide-scroll {
  
} */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


.slick-dots {
  bottom: 0rem;
  left: -5.1rem !important;
  width: inherit;
  top: 260px !important;
}

.slick-dots li button::before {
  font-size: 10px !important;
  margin: 0 5px;
  border: none;
  color: #ffffffa3 !important;
  border-radius: 50%;
  opacity: 1;
  line-height: 19px;
}

.slick-dots li button:hover::before {
  color: white !important;
}

.slick-dots li.slick-active button::before {
  font-size: 12px !important;
  margin: 0 5px;
  border: 2px solid #fff;
  color: #ff0000 !important;
  border-radius: 50%;
}


.css-zjf1nq-MuiPaper-root{
  display: none !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background: transparent !important;
  box-shadow: none !important;
  color: #000000 !important;
  padding: 0px 7px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
}

.slick-next, .slick-prev{
  display: none !important;
}
#slider .slick-initialized .slick-slide{
  margin-left: 12px !important;
}
.slick-slide {
float: left !important;
}
.signup-button{
  background: #DB4444 !important;
  padding: 16px 40px !important;
  font-size: 16px !important;
  color: #FFFFFF !important;
}
@media screen and (max-width: 767px) {
  .slick-dots {
    width: 100%;
    left: 0 !important;
    top: 205px !important;
  }
   
}